
{% extends 'all/main.html' %}


{% block content %} 


<header style="padding-top:8rem;">
    <div class="container" style="text-align: center;">
        <div class="masthead-subheading font-italic" style="font-size: 5rem;">Welcome To My Gallery App!</div><br>
        <div class="masthead-heading text-uppercase" style="font-size: 3rem;">It's Nice To Meet You</div><br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="pictures">Here is my Gallery</a><br><br><br>
    </div>
</header>


{% endblock %}
