{% extends 'all/main.html' %} 
{% block content %}
 {% load static %}

<div class="card-deck">
  <div class="card">
    <img
      src="{% static 'images/zebra.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
  <div class="card">
    <img
      src="{% static 'images/locust.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
  <div class="card">
    <img
      src="{% static 'images/kipchoge.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
</div>
<br />
<div class="card-deck">
  <div class="card">
    <img
      src="{% static 'images/farm.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
  <div class="card">
    <img
      src="{% static 'images/kalenjin.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
  <div class="card" style="width: 400px">
    <img
      src="{% static 'images/corona.jpg' %}"
      style="width: 100%; height: auto"
    />
  </div>
</div>

  {% endblock %}

